/* [project]/src/css/bsButtons.css [app-client] (css) */
.btn-white-blue-border {
  --bs-btn-color: #fff;
  --bs-btn-bg: #00c9ff;
  --bs-btn-border-color: #42d7ff;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0099c1;
  --bs-btn-hover-border-color: #0099c1;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #7fe4ff;
  --bs-btn-active-border-color: #42d7ff;
  --bs-btn-active-shadow: inset 0 3px 5px #00000020;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #0d6efd;
  --bs-btn-disabled-border-color: #0d6efd;
  --bs-btn-border-radius: .5rem;
  --bs-btn-padding-y: 0rem;
  --bs-btn-padding-x: .5rem;
}

.btn-blue-white-border {
  --bs-btn-color: #26455a;
  --bs-btn-bg: #fbfdff;
  --bs-btn-border-color: #cfd8de;
  --bs-btn-hover-color: #0077c8;
  --bs-btn-hover-bg: #f7fcff;
  --bs-btn-hover-border-color: #0077c8;
  --bs-btn-active-color: #0098ff;
  --bs-btn-active-bg: #f7fcff;
  --bs-btn-active-border-color: #49b5ff;
  --bs-btn-active-shadow: inset 0 3px 5px #00000020;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-disabled-color: #0098ff;
  --bs-btn-disabled-bg: #0d6efd;
  --bs-btn-disabled-border-color: #0d6efd;
  --bs-btn-border-radius: .4rem;
  --bs-btn-padding-y: 0rem;
  --bs-btn-padding-x: .5rem;
  --bs-btn-font-size: .86rem;
}

.btn-blue-border {
  --bs-btn-color: #26455a;
  --bs-btn-bg: #fbfdff;
  --bs-btn-border-color: #8cbcdc;
  --bs-btn-hover-color: #0077c8;
  --bs-btn-hover-bg: #f7fcff;
  --bs-btn-hover-border-color: #0077c8;
  --bs-btn-active-color: #0098ff;
  --bs-btn-active-bg: #f7fcff;
  --bs-btn-active-border-color: #49b5ff;
  --bs-btn-active-shadow: inset 0 3px 5px #00000020;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-disabled-color: #0098ff;
  --bs-btn-disabled-bg: #0d6efd;
  --bs-btn-disabled-border-color: #0d6efd;
  --bs-btn-border-radius: .4rem;
  --bs-btn-padding-y: 0rem;
  --bs-btn-padding-x: .5rem;
  --bs-btn-font-size: .86rem;
}

.btn-blue-white {
  text-shadow: 0 0 1px #f7f7f7, 0 0 #0e5ac4;
  --bs-btn-color: #26455a;
  --bs-btn-bg: #fff;
  --bs-btn-border-color: #cfd8de;
  --bs-btn-hover-color: #0077c8;
  --bs-btn-hover-bg: #f7fcff;
  --bs-btn-hover-border-color: #cfd8de;
  --bs-btn-active-color: #0098ff;
  --bs-btn-active-bg: #f7fcff;
  --bs-btn-active-border-color: #49b5ff;
  --bs-btn-active-shadow: inset 0 3px 5px #00000020;
  --bs-btn-focus-shadow: inset 0 3px 5px #00000020;
  --bs-btn-disabled-color: #0098ff;
  --bs-btn-disabled-bg: #0d6efd;
  --bs-btn-disabled-border-color: #0d6efd;
  --bs-btn-border-radius: .4rem;
  --bs-btn-padding-y: .4rem;
  --bs-btn-padding-x: .8rem;
  --bs-btn-font-size: .86rem;
}

.btn-blue-white-small {
  text-shadow: 0 0 1px #f7f7f7, 0 0 #0e5ac4;
  --bs-btn-color: #26455a;
  --bs-btn-bg: #fff;
  --bs-btn-border-color: #cfd8de;
  --bs-btn-hover-color: #0077c8;
  --bs-btn-hover-bg: #f7fcff;
  --bs-btn-hover-border-color: #cfd8de;
  --bs-btn-active-color: #0098ff;
  --bs-btn-active-bg: #f7fcff;
  --bs-btn-active-border-color: #49b5ff;
  --bs-btn-active-shadow: inset 0 3px 5px #00000020;
  --bs-btn-focus-shadow: inset 0 3px 5px #00000020;
  --bs-btn-disabled-color: #0098ff;
  --bs-btn-disabled-bg: #0d6efd;
  --bs-btn-disabled-border-color: #0d6efd;
  --bs-btn-border-radius: .4rem;
  --bs-btn-padding-y: .2rem;
  --bs-btn-padding-x: .4rem;
  --bs-btn-font-size: .8rem;
}

.btn-blue-label {
  margin: .15rem;
  color: #003c99;
  letter-spacing: 1px;
  text-shadow: 0 0 #f7f7f7, 0 0 #0e5ac4;
  --bs-btn-color: #26455a;
  --bs-btn-bg: #fff;
  --bs-btn-border-color: #cfd8de;
  --bs-btn-hover-color: #0077c8;
  --bs-btn-hover-bg: #f7fcff;
  --bs-btn-hover-border-color: #0077c8;
  --bs-btn-active-color: #0098ff;
  --bs-btn-active-bg: #f7fcff;
  --bs-btn-active-border-color: #49b5ff;
  --bs-btn-active-shadow: inset 0 3px 5px #00000020;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-disabled-color: #0098ff;
  --bs-btn-disabled-bg: #0d6efd;
  --bs-btn-disabled-border-color: #0d6efd;
  --bs-btn-border-radius: .2rem;
  --bs-btn-padding-y: 0rem;
  --bs-btn-padding-x: .5rem;
  --bs-btn-font-size: .86rem;
}

/*# sourceMappingURL=src_css_bsButtons_b52d8e.css.map*/