.btn-white-blue-border {
  --bs-btn-color: #fff;
  --bs-btn-bg: #00c9ff;
  --bs-btn-border-color: #42d7ff;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0099c1;
  --bs-btn-hover-border-color: #0099c1;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #7fe4ff;
  --bs-btn-active-border-color: #42d7ff;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #0d6efd;
  --bs-btn-disabled-border-color: #0d6efd;
  --bs-btn-border-radius: 0.5rem;
  --bs-btn-padding-y: 0.0rem;
  --bs-btn-padding-x: 0.5rem;
}

.btn-blue-white-border {
  --bs-btn-color: #26455a;
  --bs-btn-bg: #fff;
  --bs-btn-border-color: #cfd8de;

  --bs-btn-hover-color: #0077c8;
  --bs-btn-hover-bg: #f7fcff;
  --bs-btn-hover-border-color: #0077c8;

  --bs-btn-active-color: #0098ff;
  --bs-btn-active-bg: #f7fcff;
  --bs-btn-active-border-color: #49b5ff;

  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;

  --bs-btn-disabled-color: #0098ff;
  --bs-btn-disabled-bg: #0d6efd;
  --bs-btn-disabled-border-color: #0d6efd;

  --bs-btn-border-radius: 0.4rem;

  --bs-btn-padding-y: 0.0rem;
  --bs-btn-padding-x: 0.5rem;
  --bs-btn-font-size: 0.86rem;
}

.btn-blue-white {
    text-shadow:
        0px 0px 1px #f7f7f7,
        0px 0px 0px #0e5ac4;

  --bs-btn-color: #26455a;
  --bs-btn-bg: #fff;
  --bs-btn-border-color: #cfd8de;

  --bs-btn-hover-color: #0077c8;
  --bs-btn-hover-bg: #f7fcff;
  --bs-btn-hover-border-color: #cfd8de;

  --bs-btn-active-color: #0098ff;
  --bs-btn-active-bg: #f7fcff;
  --bs-btn-active-border-color: #49b5ff;

  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-focus-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);

  --bs-btn-disabled-color: #0098ff;
  --bs-btn-disabled-bg: #0d6efd;
  --bs-btn-disabled-border-color: #0d6efd;

  --bs-btn-border-radius: 0.4rem;

  --bs-btn-padding-y: 0.4rem;
  --bs-btn-padding-x: 0.8rem;
  --bs-btn-font-size: 0.86rem;
}