:root {
  --bg-strength-card-color: #7ba283;
  --bg-perception-card-color: #696148;
  --bg-endurance-card-color: #55b6c5;
  --bg-charisma-card-color: #d18a44;
  --bg-intelligence-card-color: #aca68f;
  --bg-agility-card-color: #cc9e7b;
  --bg-luck-card-color: #a8a2b9;
  --bg-legendary-card-color: #5c6f72;
}

@media only screen and (min-width: 386px) {
    .popover-adjustable {
        width: 20rem;
    }
    .popover-adjustable2 {
        width: 23rem;
    }
}

@media only screen and (361px <= width <= 385px) {
    .popover-adjustable {
        width: 19rem;
    }
    .popover-adjustable2 {
        width: 22rem;
    }
}

@media only screen and (max-width: 360px) {
    .popover-adjustable {
        width: 18rem;
    }
    .popover-adjustable2 {
        width: 21rem;
    }
}

.popover-body2 {
    max-height: 350px;
    overflow-x: hidden;
    overflow-y: auto;
}

@media (orientation: landscape) {
    .popover-body3 {
        max-height: 85vh;
        overflow-x: hidden;
        overflow-y: auto;
        overflow:auto;
    }
}

@media (orientation: portrait) {
    .popover-body3 {
        max-height: 85vh;
        overflow-x: hidden;
        overflow-y: auto;
        overflow:auto;
    }
}

@media only screen and (min-width: 386px) {
    .main-display-adjustable {
        width: 24rem;
    }
}

@media only screen and (max-width: 385px) {
    .main-display-adjustable {
        width: 22rem;
    }
}

@media only screen and (max-width: 360px) {
    .main-display-adjustable {
        width: 21rem;
    }
}

.bg-ballistic {
    background-color:#768e91;
    color:#ffffff;
}

.bg-ballistic-shadow {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 3px 6px 0 rgba(0,0,0,0.2);
    background-color:#768e91;
    color:#ffffff;
}

.bg-energy {
    background-color:#90679c;
    color:#ffffff;
}

.bg-energy-shadow {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 3px 6px 0 rgba(0,0,0,0.2);
    background-color:#90679c;
    color:#ffffff;
}

.bg-bleed {
    background-color:#f27e93;
    color:#ffffff;
}

.bg-white {
    background-color: #fff;
}

.bg-fire {
    background-color:#c95855;
    color:#ffffff;
}

.bg-poison {
    background-color:#5fad5c;
    color:#ffffff;
}

.bg-cold {
    background-color:#40aac2;
    color:#ffffff;
}

.bg-rad {
    background-color:#ccc976;
    color:#ffffff;
}

.bg-fire-shadow {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 3px 6px 0 rgba(0,0,0,0.2);
    background-color:#c95855;
    color:#ffffff;
}

.bg-poison-shadow {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 3px 6px 0 rgba(0,0,0,0.2);
    background-color:#5fad5c;
    color:#ffffff;
}

.bg-cold-shadow {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 3px 6px 0 rgba(0,0,0,0.2);
    background-color:#40aac2;
    color:#ffffff;
}

.bg-rad-shadow {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 3px 6px 0 rgba(0,0,0,0.2);
    background-color:#ccc976;
    color:#ffffff;
}

.bg-info2 {
    background-color:#fffff2;
}

.bg-crit {
    background-color:#000000;
    color:#ffffff;
}

.bg-light-cream-outline {
    outline: 1px solid #bdb499;
    background-color:#f7f2e1;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 3px 6px 0 rgba(0,0,0,0.2);
    color:#000;
}

.light-cream-outline {
    outline: 1px solid #bdb499;
}

.shadow-outline {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.2);
}

.shadow-outline-ammo {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 1px 3px 0 rgba(0,0,0,0.2);
    text-shadow:
        0px 1px 0px #ffffff,
        0px 0px 2px #ffffff;
}

.shadow-outline2 {
    box-shadow: 0 0px 1px 1px rgba(200,200,200,0.3), 0 1px 1px 1px rgba(200, 200,200,0.1);
}

.shadow-outline3 {
    box-shadow: 0 0px 1px 1px rgba(200,0,0,0.05), 0 0px 1px 1px rgba(200,0,0,0.1);
}

.shadow-outline4 {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 3px 5px 0 rgba(0,0,0,0.2);
}

.shadow-outline-gold {
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.4), 0 5px 10px 0 rgba(0,0,0,0.2);
    outline: 1px solid #ffbf00;
}

.shadow-outline-gold2 {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4), 0 2px 4px 0 rgba(0,0,0,0.2);
    border-color: #ffd556 !important;

}

.shadow-gold {
    box-shadow: 0 1px 3px 0 #ffbf00, 0 1px 3px 0 #ffbf00;
}

.shadow-card-gold {
    box-shadow: 0 1px 3px 0 #ffbf42, 0 1px 2px 0 #ffbf42;
    border-color: #ffffff !important;
}

.shadow-card-grey {
    box-shadow: 0 1px 2px 0 #b8b8b8, 0 1px 2px 0 #b8b8b8;
    border-color: #fff !important;
}

.shadow-border-card-grey {
    box-shadow: 0 1px 1px 0 #c2c2c2, 0 1px 3px 0 #cfcfcf;
    border-color: #a0a0a0 !important;
}

.text-shadow-indigo {
    color: #620048;
    text-shadow:
        0px 0px 1px #dd7400;
}

.text-shadow-blue {
    color: #0085ff;
    text-shadow:
        0px 0px 1px #00e0ff;
}

.text-shadow-grey-blue {
    color: #1c5a7c;
    text-shadow:
        0px 1px 1px #dfdfdf;
}

.text-shadow-blue2 {
    color: #006483;
    text-shadow:
        0px 0px 1px #00e8ff;
}

.shadow-blue {
    box-shadow: 0 1px 3px 0 #b5e9ff, 0 0px 0px 0 #ffebdd;
}

.mod-item-shadow {
    box-shadow: 0 1px 3px 0 #404040, 0 0px 0px 0 #ffebdd;
    background-color:#f4f4f4;
    color: #444444;
}

.bg-exp {
    background-color:#948672;
    color:#ffffff;
}

.bg-ecrit {
    background-color:#4d2f31;
    color:#ffffff;
}

.bg-head-shot {
    background-color:#835559;
    color:#ffffff;
}

.bg-body-shot {
    background-color:#817778;
    color:#ffffff;
}

.bg-mod-cat {
    background-color:#f5f4f5
}

.bg-mod-name {
    background-color:#fbfaf3
}

.bg-health {
    background-color:#ffa6a6;
    color:#ffffff;
}

.bg-health-outline {
    background-color:#ffa6a6;
    outline: 1px solid #ff8181;
    color:#ffffff;
    text-shadow:
        1px 0px 1px #ff8181,
        0px 1px 0px #ff8181;
}

.bg-ammo-outline {
    background-color:#909eab;
    outline: 1px solid #808a99;
    color:#ffffff;
    text-shadow:
        1px 0px 1px #808a99,
        0px 1px 0px #808a99;
}

.bg-lifetime-outline {
    background-color:#5141a7;
    outline: 1px solid #514188;
    color:#ffffff;
    text-shadow:
        1px 0px 1px #514188,
        0px 1px 0px #514188;
}

.bg-orange-outline {
    outline: 1px solid #ffb533;
    text-shadow:
        0px 0px 2px #fff6e8;

}

.bg-hazard {
    background-color:#4c9945;
    color: #ffffff;
}

.bg-reduction {
    background-color:#ff924b;
    color:#ffffff;
}

.bg-sneak {
    background-color:#25a199;
    color:#ffffff;
}

.bg-aa {
    background-color:#5c4872;
    color:#ffffff;
}

.bg-ammo {
    background-color:#909eab;
    color:#ffffff;
}

.bg-snapshot {
    background-color:#f4f7ff;
    color:#2a3262;
}

.bg-lite {
    background-color:#f4f4f4;
    color: #000;
}

.bg-lite-shadow {
    background-color:#f4f4f4;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 3px 6px 0 rgba(0,0,0,0.2);
    color: #000;
}

.width-fit {
    width: fit-content;
}

.lite-shadow {
    box-shadow: 0 1px 1px 0px #e3e3e3;
}

.bg-lite-shadow2 {
    background-color:#f4f4f4;
    box-shadow: 0 1px 2px 0 #605810, 0 1px 2px 0 #605810;
    color: #000;
}

.bg-text-shadow {
    text-shadow:
        1px 0px 1px #000000,
        0px 1px 1px #000000;
    color: #fff;
}

.bg-lite-outline {
    outline: 1px solid #dedede;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 3px 6px 0 rgba(0,0,0,0.2);
    background-color:#f4f4f4;
    color: #000;
}

.bg-yellow {
    background-color:#fff0cc;
    color: #cf9100;
}

.bg-lifetime {
    background-color:#5141a7;
    color:#ffffff;
}

.pa-21 {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
}

.ant-dropdown-menu {
    max-height: 300px;
    overflow: auto;
}

.dropdown-menu {
    min-height: 10px;
    max-height: 350px;
    overflow-y: scroll;
}

@media only screen and (orientation: landscape) {
    .modal-scroll-80-60 {
        max-height: var(--screen-modal-body-height-60);
        overflow: auto;
    }

    .modal-scroll-60 {
        max-height: var(--screen-modal-body-height-60);
        overflow: auto;
    }
}

@media only screen and (orientation: portrait) {
    .modal-scroll-80-60 {
        max-height: var(--screen-modal-body-height-80);
        overflow: auto;
    }

    .modal-scroll-60 {
        max-height: var(--screen-modal-body-height-60);
        overflow: auto;
    }
}

.popover {
    --bs-popover-max-width: 350px;
}

.wrapper {
    position: relative;
    overflow: scroll;
    height: 1200px;
}

.bg-strength-card {
    background-color: var(--bg-strength-card-color) !important;
    color: #fff !important;
    border-color: var(--bg-strength-card-color) !important;
}

.bg-perception-card {
    background-color: var(--bg-perception-card-color) !important;
    color: #fff !important;
    border-color: var(--bg-perception-card-color) !important;
}

.bg-charisma-card {
    background-color: var(--bg-charisma-card-color) !important;
    color: #fff !important;
    border-color: var(--bg-charisma-card-color) !important;
}

.bg-intelligence-card {
    background-color: var(--bg-intelligence-card-color) !important;
    color: #fff !important;
    border-color: var(--bg-intelligence-card-color) !important;
}

.bg-endurance-card {
    background-color: var(--bg-endurance-card-color) !important;
    color: #fff !important;
    border-color: var(--bg-endurance-card-color) !important;
}

.bg-agility-card {
    background-color: var(--bg-agility-card-color) !important;
    color: #fff !important;
    border-color: var(--bg-agility-card-color) !important;
}

.bg-luck-card {
    background-color: var(--bg-luck-card-color) !important;
    color: #fff !important;
    border-color: var(--bg-luck-card-color) !important;
}

.bg-legendary-card {
    background-color: var(--bg-legendary-card-color) !important;
    color: #fff !important;
    border-color: var(--bg-legendary-card-color) !important;
}

.bg-proj-header {
    background-color:#6a4a4c !important;
    color: #fff !important;
}

.bg-spell-header {
    background-color:#624d7c !important;
    color: #fff !important;
}

.bg-damage-header {
    background-color:#823d38 !important;
    color: #fff !important;
}

.bg-tabs {
    background-color:#fdfcff;
}

.out-accordion {
    outline: 0 !important;

    :focus {
         outline: 0 !important;
         box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
    }
}

.version-text {
    font-family: sans-serif;
    text-transform: capitalize;
    color: #b8c1cd;
    font-size: .7rem;
    text-shadow:
        1px 1px 1px #08294f,
        0px 1px 0px #0e5ac4;
    letter-spacing: 1px;
}

.tab-text {
    text-shadow:
        -0.3px 0px 0px #25456a;
}

.link-text {
    color: #16716b;
    text-shadow:
        0px 0.0px 0.0px #fff;
}

.ac-text {
    color: #054070;
    text-shadow:
        0.5px 0px 0px #07518d;


}

.stats-text {
    text-shadow:
        -0.8px 0px 0px #003778,
        0px 0px 0.5px #fff;
}

.best-button-shadow {
    text-shadow:
        0px 0px 1px #f8ff76,
        0px 0px 1px #faffa4;
    letter-spacing: 1px;
}

.weapon-label-text {
    color: #141f30;
    font-size: 1.2rem;
    text-shadow:
        0px 0px 1px #b5b0b0,
        0px 0px 0px #b5b0b0;
    letter-spacing: 1px;
}

.creature-label-text {
    color: #003c99;
    text-shadow:
        0px 0px 0px #f7f7f7,
        0px 0px 0px #0e5ac4;
    letter-spacing: 1px;
}

.center-text {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bg-light-pink {
    background-color:#fff2f4;
    color: #000;
}

.bg-spell-body {
    background-color:#f9f5ff;
    color: #000;
}

.margin-5px {
    margin: '5px';
}

.shadow-outline-unselected {
    box-shadow: 0 1px 2px 0 #c6c9cf, 0 1px 2px 0 #8a8e96;
    outline: 0px solid #c6c9cf;
}

.shadow-outline-result-item {
    box-shadow: 0 2px 2px 0 #767394, 0 1px 2px 0 #739094;
    border-color: #eeeeee !important;
}

.stat-button {
    width: '4rem';
    backgroundColor: '#007cf5' !important;
    color: 'white';
}

.tag {
    width: fit-content;
    max-width: 100%;
    max-height: 1.7rem;
    font-size: 0.7rem;
    font-weight: bold;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    background-color: #ffede1;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    border-color: #5e2600;
    color: #8b3800;
}


