.button-3:hover {
    box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
}

.button-3:focus {
    box-shadow: 0px 0px 3px rgba(0,0,200,0.4);
}

.button-3:active {
    box-shadow: 0px 0px 4px rgba(0.0,0,70,0.4);
    border-color: #fff;
}

.burger {
    fill: #14455f;
    border: none;
    background-color: none;
}

.burger:hover {
    fill: #b47400;
    border: none;
}

.burger:focus {
    fill: #b47400;
    border: none;
}

.burger:active {
    fill: #c89300;
    border: none;
}